<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.anteraprojetos.com.br/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.anteraprojetos.com.br/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.anteraprojetos.com.br/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.anteraprojetos.com.br/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://www.anteraprojetos.com.br/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://www.anteraprojetos.com.br/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://www.anteraprojetos.com.br/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.anteraprojetos.com.br/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="http://www.anteraprojetos.com.br/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="http://www.anteraprojetos.com.br/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="http://www.anteraprojetos.com.br/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="http://www.anteraprojetos.com.br/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="http://www.anteraprojetos.com.br/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Antera Projetos Ambientais"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="http://www.anteraprojetos.com.br/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="http://www.anteraprojetos.com.br/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="http://www.anteraprojetos.com.br/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="http://www.anteraprojetos.com.br/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="http://www.anteraprojetos.com.br/mstile-310x310.png" />

    <!-- build:css(app) css/main.css -->
    <link rel="stylesheet" href="_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="_bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="_bower_components/bootstrap/dist/css/bootstrap.css.map">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->

    <!-- build:js(app) js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <a href="#0" class="cd-top">Top</a>

    {{ content }}

    {% include footer.html %}
    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
