---
layout: default
title: Clients | Antera Projetos Ambientais
---

<header>
    <div class="container">
        <a href="index.html"><span class="logo"></span></a>
        <nav class="navbar">
            <ul>
                <li><a href="index.html#">Home</a></li>
                <li><a href="index.html#about">Empresa</a></li>
                <li><a href="portfolio.html">Portifólio</a></li>
                <li><a href="clients.html">Clientes</a></li>
                <li><a href="partners.html">Parceiros</a></li>
                <li><a href="contacts.html">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- end header -->

<div id="clients" class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="img/clientes.jpg" data-natural-width="2500" data-natural-height="1667">
    <div class="title">
        <h3>Clientes</h3>
    </div>
</div>

<section class="section">
    <div class="containeer">
        <!-- <img src="img/clientes.jpg" class="img-responsive" alt="Clientes"> -->
        <div class="row content">
          <div class="col-xs-6 col-sm-3">
            <h4>
              Construtora Central do Brasil <br>
              <small>(62) 3546-9000</small>
            </h4>
          </div>
          <div class="col-xs-6 col-sm-3">
            <h4>
              Cabral Engenharia <br>
              <small>(62) 3996-1702</small>
            </h4>
          </div>
          <div class="col-xs-6 col-sm-3">
            <h4>
              PaviArt Construtora e Incorporadora <br>
              <small>(62) 3318-3000</small><br>
              <small>0800-60000-990</small>
            </h4>
          </div>
          <div class="col-xs-6 col-sm-3">
            <h4>
              Atria Consultoria e Projetos <br>
              <small>(62) 8167-9445</small>
            </h4>
          </div>
        </div>
    </div>
</section>
