---
layout: default
title: Contacts | Antera Projetos Ambientais
---

<header>
    <div class="container">
        <a href="index.html"><span class="logo"></span></a>
        <nav class="navbar">
            <ul>
                <li><a href="index.html#">Home</a></li>
                <li><a href="index.html#about">Empresa</a></li>
                <li><a href="portfolio.html">Portifólio</a></li>
                <li><a href="clients.html">Clientes</a></li>
                <li><a href="partners.html">Parceiros</a></li>
                <li><a href="contacts.html">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- end header -->

<div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="img/contacts.jpg" data-natural-width="2500" data-natural-height="1667">
  <div class="title">
    <h3>Contatos</h3>
  </div>
</div>

<section id="cover" class="section">
  <div class="container">
    <div id="about" class="row content">
      <div class="col-xs-6">
        <h4 class="contatos">Antera Projetos Ambientais</h4>
        <p>
          Rua 260, N°.470, Bloco 02, Apt. 204 <br>
          Setor Leste Universitário / Goiânia-GO<br>
          CEP 74.610-240
        </p>
        <p>
          (62) 3095-1706 <br>
          (62) 98293-6650 (vivo)
        </p>
      </div>
      <div class="col-xs-6">
       <img src="img/map copy.png" class="img-responsive" alt="Responsive image">
      </div>
    </div>
  </div>
</section><!-- end #cover -->



<!-- <script src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript">
  (function() {

    function makeMap_1() {

    var directionsDisplay;
    directionsDisplay = new google.maps.DirectionsRenderer;
    var directionsService = new google.maps.DirectionsService;
    var map;
    var latlng = new google.maps.LatLng(-16.682648, -49.242818);
    var directionsto = '';
    var myOptions = {
      zoom: 15,
      mapTypeControl:true,
      mapTypeId:google.maps.MapTypeId.ROADMAP,
      mapTypeControlOptions:{style:google.maps.MapTypeControlStyle.DROPDOWN_MENU},
      navigationControl:true,
      navigationControlOptions:{style:google.maps.NavigationControlStyle.SMALL},
      center:latlng
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'), myOptions);

    if(directionsto.length > 5)
    {
      directionsDisplay.setMap(map);
      var request = {
         origin:directionsto,
         destination:latlng,
         travelMode:google.maps.DirectionsTravelMode.DRIVING
    };
      directionsService.route(request, function(response, status) {
         if(status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response)
         }
      })
    }
    else
    {
      var contentString = 'Avenida 12ª, Qd. 98, Lt. 2/20<br>\r\nSala 5<br>\r\nSetor Leste Universitário / Goiânia-GO<br>\r\nCEP 74.603-020';
      var infowindow = new google.maps.InfoWindow({
         content: contentString
      });
      var marker = new google.maps.Marker({
         position: latlng,
         map: map,
         icon: '',
         title: ''
      });

      google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
      });
    }
}



      makeMap_1()
  })();
</script>
 -->
