---
layout: default
title: Antera Projetos Ambientais
---

<header>
    <div class="container">
        <a href="index.html"><span class="logo"></span></a>
        <nav class="navbar">
            <ul>
                <li><a data-scroll href="index.html#">Home</a></li>
                <li><a data-scroll href="index.html#about">Empresa</a></li>
                <li><a href="portfolio.html">Portifólio</a></li>
                <li><a href="clients.html">Clientes</a></li>
                <li><a href="partners.html">Parceiros</a></li>
                <li><a href="contacts.html">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- end header -->


<div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="img/geothermal.jpg" data-natural-width="2500" data-natural-height="1667">
    <div class="title">
        <h1>
          Combinando forças, vamos além
        </h1>
    </div>
</div>


<section id="about" class="section">
    <div class="container">
        <!-- <img src="img/geothermal.jpg" class="img-responsive" alt="geothermal"> -->
        <div id="about" class="row content">
            <!--Portifolio -->
            <div class="col-xs-">
                <h2>Visando a preservação do meio ambiente</h2>
                <p>
                    A empresa Antera Projetos Ambientas tem sua concepção, o intuito de atender plenamente seus clientes, oferecendo-lhes as melhores soluções na área da engenharia do meio ambiente. Seu nome faz um paralelo com a natureza. Antera é a parte superior do estame das flores, onde se produz e se libera o pólen. O pólen é a maior fonte de alimentação das abelhas, possibilitando a construção da colméia, que é uma obra prima da arquitetura da natureza e que produz um nobre alimento: o mel. Portanto, a empresa Antera é a fonte, para uma equipe organizada e sinérgica, elaborar projetos de alta qualidade.
                </p>
                <p>
                    <strong>Propósito:</strong> "Criar um ambiente melhor para as pessoas viverem e prosperarem."<br>
                    <strong>Missão:</strong> "Elaborar projetos ambientais sólidos, confiáveis e eficientes, evidenciando a força da integração entre todos os parceiros".<br>
                    <strong>Visão:</strong> "Se tornar um símbolo de confiança no segmento de projetos ambientais".
                </p>
            </div>
           <!--  <div class="col-xs-6">
                <img src="img/baum.jpg">
            </div> -->
        </div>
    </div>
</section>
