---
layout: default
title: Parceiros | Antera Projetos Ambientais
---

<header>
    <div class="container">
        <a href="index.html"><span class="logo"></span></a>
        <nav class="navbar">
            <ul>
                <li><a href="index.html#">Home</a></li>
                <li><a href="index.html#about">Empresa</a></li>
                <li><a href="portfolio.html">Portifólio</a></li>
                <li><a href="clients.html">Clientes</a></li>
                <li><a href="partners.html">Parceiros</a></li>
                <li><a href="contacts.html">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- end header -->

<div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="img/partners.jpg" data-natural-width="2500" data-natural-height="1667">
  <div class="title">
    <h3>Parceiros</h3>
  </div>
</div>


<section id="clients" class="section">
  <div class="containeer">
    <div class="row content">

      <div class="col-xs-6 col-sm-3">
        <img src="img/logo-tainah.png" class="img-responsive" alt="Responsive image">
      </div>

      <div class="col-xs-6 col-sm-3">
       <img src="img/maria-julia.jpg" class="img-responsive" alt="Responsive image">
      </div>

      <div class="col-xs-6 col-sm-3">
        <img src="img/logo-guilherme.jpg" class="img-responsive" alt="Responsive image">
      </div>

      <div class="col-xs-6 col-sm-3">
       <img src="img/logo-forasteiro.png" class="img-responsive" alt="Responsive image">
      </div>

    </div>
  </div>
</section>

<section id="clients" class="section">
  <div class="containeer">
    <div class="row content">

      <div class="col-xs-6 col-sm-4">
        <img src="img/logo-dinastia.jpg" class="img-responsive" alt="Responsive image">
      </div>

      <div class="col-xs-6 col-sm-4">
        <img src="img/logo-carolina.jpg" class="img-responsive" alt="Responsive image">
      </div>

      <div class="col-xs-6 col-sm-4">
       <img src="img/logo-isa-marcas.jpg" class="img-responsive" alt="Responsive image">
      </div>

    </div>
  </div>
</section>
