---
layout: default
title: Portfólio | Antera Projetos Ambientais
---

<header>
    <div class="container">
        <a href="index.html"><span class="logo"></span></a>
        <nav class="navbar">
            <ul>
                <li><a href="index.html#">Home</a></li>
                <li><a href="index.html#about">Empresa</a></li>
                <li><a href="portfolio.html">Portifólio</a></li>
                <li><a href="clients.html">Clientes</a></li>
                <li><a href="partners.html">Parceiros</a></li>
                <li><a href="contacts.html">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- end header -->

<div id="projects" class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="img/projetoambiental.jpg" data-natural-width="2500" data-natural-height="1667">
    <div class="title">
        <h3>Projetos Ambientais</h3>
    </div>
</div>
<section class="section">
    <div class="container">

        <!-- <img src="img/projetoambiental.jpg" class="img-responsive" alt="Projetos Ambientais"> -->

        <div id="portifolio" class="row content">
            <!--Portifolio -->
            <div class="col-xs-6 col-sm-3">
                <img src="img/sewage.jpg" class="img-responsive" alt="tubulacao">
                <h4>Sistemas de Abastecimento de Água</h4>
                <p>
                    Captação em manancial superficial e subterrâneo. Adutoras, Estações Elevatórias de Água,Centros de Reservação,Redes de Distribuição, Projetos Complementares Elétricos, Estruturais e Orçamento.
                </p>
            </div>

            <div class="col-xs-6 col-sm-3">
                <img src="img/wasted-clean-water.jpg" class="img-responsive" alt="esgoto">
                <h4>Sistemas de Esgotamento Sanitário</h4>
                <p>
                    Redes Coletoras de Esgoto,Estações Elevatórias de Esgoto Bruto, Linhas de Recalque Sifões, Emissários e Interceptores, Estações de Tratamento de Esgoto, Projetos Complementares Elétricos, Estruturais e Orçamentos.
                </p>
            </div>

            <div class="clearfix visible-xs-block"></div>

            <div class="col-xs-6 col-sm-3">
                <img src="img/autocad.png" class="img-responsive" alt="esgoto">
                <h4>Sistemas de Drenagem Pluvial</h4>
                <p>
                    Rede Coletora, Bacias de Contenção e Estruturas de Lançamento.
                </p>
            </div>

            <div class="col-xs-6 col-sm-3">
                <img src="img/predial.jpg" class="img-responsive" alt="esgoto">
                <h4>Hidrossanitário Predial</h4>
                <p>
                    Instalações Prediais de Água, Instalações Prediais de Esgoto, Instalações Prediais de Água Pluvial e Prevenção e Combate a Incêndio.
                </p>
            </div>
        </div>
        <!--Portifolio -->
    </div>
</section>
<!-- end #project -->
