<footer class="footer" role="contentinfo">
    <div class="container">
        <p>
            <img src="img/logo-footer.png">
            <ul class="phones">
                <li>(62) 3095-1706</li>
                <li>(62) 98293-6650 (vivo)</li>
            </ul>
        </p>
        <p>
            Rua 260, N°. 470, Bloco 02, Apt. 204
            <br> Setor Leste Universitário / Goiânia-GO.
            <br> CEP 74.610-240
        </p>
        <p>
            Copyright &copy; Antera, 2015 <br>
            Design by Ludmilla Aires
        </p>
    </div>
</footer>
