<!-- build:js(app) js/third-party.js -->
<script src="_bower_components/jquery/dist/jquery.js">
<script src="_bower_components/bootstrap/dist/js/bootstrap.js">
<!-- endbuild -->

<script>window.jQuery || document.write('<script src="_bower_components/jquery/jquery.min.js"><\/script>')</script>
<script>
  $(function(){
    if (navigator.userAgent.match(/(iPod|iPhone|iPad|Android)/)) {
      $('#ios-notice').removeClass('hidden');
      $('.parallax-container').height( $(window).height() * 0.5 | 0 );
    } else {
      $(window).resize(function(){
        var parallaxHeight = Math.max($(window).height() * 0.7, 200) | 0;
        $('.parallax-container').height(parallaxHeight);
      }).trigger('resize');
    }
  });
</script>

<!-- build:js(app) js/script.js -->
<script src="js/parallax.min.js"></script>
<script src="js/smooth-scroll.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<!-- endbuild -->
